//- {title:str , message:str}
extends layout

block content
    .w3-container
        h1.w3-green.w3-padding.w3-center= title
        .w3-card.w3-margin.w3-padding.w3-light-gray
            h3.w3-padding.w3-margin= message
        br
        a.w3-btn.w3-padding.w3-margin.w3-xlarge.w3-hover-green(href="/home") Voltar à página inicial

